In [1]:
import pandas as pd
import numpy as np
import time 

user_file_name = "data_line_balancing.xlsx"#input("Enter your excel file name with extension: ")
user_sheet_name = "GroupbyCardTypeLST"#input("Enter your excel's sheet name:  ")
st = time.time()
df_data = pd.read_excel(user_file_name,sheet_name=user_sheet_name)
num_operator = pd.read_excel("data_line_balancing.xlsx",sheet_name="NumOperator")
lines = 9
cards = 25
orders = len(df_data)
operators = 36
cards_pallets = [17,18,19,20,22]
setup = 900/(24*60*60)
T = np.zeros((orders,lines),dtype=list)
L = np.zeros((orders,lines),dtype=int)
C = np.zeros((orders,lines),dtype=float)
O = np.zeros((operators,lines),dtype=list)
index_data = df_data.index
index_operator = num_operator.index

val = []
for i in index_data:
    for j in index_operator:
        if df_data["Card Type"].iloc[i] == num_operator["Card Type"].iloc[j]:
            value = num_operator["Needed Operator"].iloc[j]
            val.append(value)

val = pd.DataFrame(val)
df_data["Needed Operator"] = val

value = []
for i in index_data:
    if df_data["Card Type"].iloc[i] in cards_pallets :
        a = "Pallets"
        value.append(a)
    else:
        b = "Non_Pallets"
        value.append(b)
df_data["Process Type"] = value

data_pallets = df_data[df_data["Process Type"]=="Pallets"]
data_pallets = data_pallets.reset_index()
data_pallets = data_pallets.drop(columns={"index"})
data_pallets = data_pallets.sort_values(["Card Type","Latest Start Time"],ascending=[True,True])
data_pallets = data_pallets.reset_index()
data_pallets = data_pallets.drop(columns={"index"})

data_non_pallets = df_data[df_data["Process Type"]=="Non_Pallets"]
data_non_pallets = data_non_pallets.reset_index()
data_non_pallets = data_non_pallets.drop(columns={"index"})
data_non_pallets = data_non_pallets.sort_values(["Card Type","Latest Start Time"],ascending=[True,True])
data_non_pallets = data_non_pallets.reset_index()
data_non_pallets = data_non_pallets.drop(columns={"index"})

index_pallets = data_pallets.index
index_non_pallets = data_non_pallets.index

def assign_to_non_pallets(order_index):
    for i in range(3,9):
        line_process_time =(data_non_pallets["Process Time"].iloc[order_index]/6)/(24*60*60)
        if order_index == 0:
            C[order_index][i] = line_process_time
        elif order_index != 0 and data_non_pallets["Card Type"].iloc[order_index] == data_non_pallets["Card Type"].iloc[order_index-1]:
            C[order_index][i] = line_process_time + C[order_index-1][i]
        else:
            C[order_index][i] = line_process_time + C[order_index-1][i] + setup

for i in index_non_pallets:
    assign_to_non_pallets(i)


def assign_non_pallets_order_no(order_index):
    for i in range(3,9):
        order_no = data_non_pallets["Orders"].iloc[order_index]
        T[order_index][i] = order_no
        
for i in index_non_pallets:
    assign_non_pallets_order_no(i)

def assign_to_pallets(order_index):
    for i in range(0,3):
        line_process_time = (data_pallets["Process Time"].iloc[order_index]/3)/(24*60*60)
        if order_index == 0:
            C[order_index][i] = line_process_time
        elif order_index != 0 and data_pallets["Card Type"].iloc[order_index] == data_pallets["Card Type"].iloc[order_index-1]:
            C[order_index][i] = line_process_time + C[order_index-1][i]
        else:
            C[order_index][i] = line_process_time + C[order_index-1][i] + setup

for i in index_pallets:
    assign_to_pallets(i)

def assign_pallets_order_no(order_index):
    for i in range(0,3):
        order_no = data_pallets["Orders"].iloc[order_index]
        T[order_index][i] = order_no
        
for i in index_pallets:
    assign_pallets_order_no(i)

c = pd.DataFrame(C)

val = []
for i in index_data:
    for j in index_operator:
        if df_data["Card Type"].iloc[i] == num_operator["Card Type"].iloc[j]:
            value = num_operator["Needed Operator"].iloc[j]
            val.append(value)

val = pd.DataFrame(val)
df_data["Needed Operator"] = val



opr_val = []
for j in range(len(T)):
    for i in range(9):
        for k in range(len(T)):
            if T[j][i]== df_data["Orders"].iloc[k]:
                result = df_data["Needed Operator"].iloc[k]
                L[j][i] = result
L = pd.DataFrame(L)


T = pd.DataFrame(T)
T = T.rename(columns={0:"1. Line",1:"2. Line",2:"3. Line",3:"4. Line",4:"5. Line",5:"6. Line",6:"7. Line",7:"8. Line",8:"9. Line"})

num_operator_index = L.index

max_num_pallets = []
max_num_non_Pallets = []
for i in num_operator_index:
    max_operator = L[0].iloc[i]
    max_num_pallets.append(max_operator)
for i in num_operator_index:
    max_operator = L[3].iloc[i]
    max_num_non_Pallets.append(max_operator)
max_num_pallets = max(max_num_pallets)
max_num_non_Pallets = max(max_num_non_Pallets)

def operator_assign_to_pallet_lines(operator_index):
    iteration = 0
    for j in range(3):
        for k in range(iteration,max_num_pallets+iteration):
            O[k][j] = 1
        iteration += max_num_pallets
operator_assign_to_pallet_lines(max_num_pallets)

def operator_assign_to_non_pallet_lines(operator_index):
    iteration = 0
    for j in range(3,9):
        for k in range(iteration+max_num_pallets*3,max_num_non_Pallets+iteration+max_num_pallets*3):
            O[k][j] = 1
        iteration += max_num_non_Pallets
operator_assign_to_non_pallet_lines(max_num_non_Pallets)

name = []
for i in range(1,operators+1):
    write = f"Operator{i}"
    name.append(write)

O = pd.DataFrame(O)
O = O.rename(columns={0:"1. Line",1:"2. Line",2:"3. Line",3:"4. Line",4:"5. Line",5:"6. Line",6:"7. Line",7:"8. Line",8:"9. Line"})
O["Operator No"] = name
last_col = O.pop("Operator No")
O.insert(0,"Operator No",last_col)

value_B = []
for i in range(lines):
    sum_lines = max(c[i])
    value_B.append(sum_lines)
max(value_B)
c = c.rename(columns={0:"1. Line",1:"2. Line",2:"3. Line",3:"4. Line",4:"5. Line",5:"6. Line",6:"7. Line",7:"8. Line",8:"9. Line"})
print(f"maximum time: {max(value_B)}")

#If you want to write the solutions in a different excel file you use the code in the commands:

#solution_name = input("Process completed. Enter your new excel file name to write down your solution with extension: ")

#writer = pd.ExcelWriter(solution_name, engine="xlsxwriter")
#T.head(len(index_data)).to_excel(writer, sheet_name="Orders in Lines")
#c.head(len(index_data)).to_excel(writer, sheet_name="Completion Time of Orders")
#O.head(len(O)).to_excel(writer, sheet_name="Operator assignment to Lines")
#writer.save()

et = time.time()
elapsed_time = et - st
print('Execution time:', elapsed_time, 'seconds')

maximum time: 11.37695674296982
Execution time: 0.6807351112365723 seconds

In [19]:
c

     1. Line   2. Line   3. Line    4. Line    5. Line    6. Line    7. Line    8. Line    9. Line
0   0.113481  0.113481  0.113481   0.111506   0.111506   0.111506   0.111506   0.111506   0.111506
1   0.527216  0.527216  0.527216   0.151417   0.151417   0.151417   0.151417   0.151417   0.151417
2   2.891414  2.891414  2.891414   0.222262   0.222262   0.222262   0.222262   0.222262   0.222262
3   3.482463  3.482463  3.482463   1.077441   1.077441   1.077441   1.077441   1.077441   1.077441
4   3.659778  3.659778  3.659778   1.302711   1.302711   1.302711   1.302711   1.302711   1.302711
5   4.250827  4.250827  4.250827   1.626400   1.626400   1.626400   1.626400   1.626400   1.626400
6   5.432926  5.432926  5.432926   1.703518   1.703518   1.703518   1.703518   1.703518   1.703518
7   5.661904  5.661904  5.661904   1.736869   1.736869   1.736869   1.736869   1.736869   1.736869
8   5.747515  5.747515  5.747515   1.757677   1.757677   1.757677   1.757677   1.757677   1.757677
9   6.198684  6.198684  6.198684   1.996392   1.996392   1.996392   1.996392   1.996392   1.996392
10  0.000000  0.000000  0.000000   2.167616   2.167616   2.167616   2.167616   2.167616   2.167616
11  0.000000  0.000000  0.000000   2.332905   2.332905   2.332905   2.332905   2.332905   2.332905
12  0.000000  0.000000  0.000000   2.561203   2.561203   2.561203   2.561203   2.561203   2.561203
13  0.000000  0.000000  0.000000   2.789502   2.789502   2.789502   2.789502   2.789502   2.789502
14  0.000000  0.000000  0.000000   3.017800   3.017800   3.017800   3.017800   3.017800   3.017800
15  0.000000  0.000000  0.000000   3.246099   3.246099   3.246099   3.246099   3.246099   3.246099
16  0.000000  0.000000  0.000000   3.474398   3.474398   3.474398   3.474398   3.474398   3.474398
17  0.000000  0.000000  0.000000   3.702089   3.702089   3.702089   3.702089   3.702089   3.702089
18  0.000000  0.000000  0.000000   3.729175   3.729175   3.729175   3.729175   3.729175   3.729175
19  0.000000  0.000000  0.000000   3.946450   3.946450   3.946450   3.946450   3.946450   3.946450
20  0.000000  0.000000  0.000000   4.163724   4.163724   4.163724   4.163724   4.163724   4.163724
21  0.000000  0.000000  0.000000   4.453423   4.453423   4.453423   4.453423   4.453423   4.453423
22  0.000000  0.000000  0.000000   4.467908   4.467908   4.467908   4.467908   4.467908   4.467908
23  0.000000  0.000000  0.000000   5.377013   5.377013   5.377013   5.377013   5.377013   5.377013
24  0.000000  0.000000  0.000000   5.399480   5.399480   5.399480   5.399480   5.399480   5.399480
25  0.000000  0.000000  0.000000   6.298168   6.298168   6.298168   6.298168   6.298168   6.298168
26  0.000000  0.000000  0.000000   7.196857   7.196857   7.196857   7.196857   7.196857   7.196857
27  0.000000  0.000000  0.000000   7.646201   7.646201   7.646201   7.646201   7.646201   7.646201
28  0.000000  0.000000  0.000000   7.669117   7.669117   7.669117   7.669117   7.669117   7.669117
29  0.000000  0.000000  0.000000   8.237983   8.237983   8.237983   8.237983   8.237983   8.237983
30  0.000000  0.000000  0.000000   8.796432   8.796432   8.796432   8.796432   8.796432   8.796432
31  0.000000  0.000000  0.000000   9.354881   9.354881   9.354881   9.354881   9.354881   9.354881
32  0.000000  0.000000  0.000000   9.913330   9.913330   9.913330   9.913330   9.913330   9.913330
33  0.000000  0.000000  0.000000   9.985468   9.985468   9.985468   9.985468   9.985468   9.985468
34  0.000000  0.000000  0.000000  10.010156  10.010156  10.010156  10.010156  10.010156  10.010156
35  0.000000  0.000000  0.000000  10.195318  10.195318  10.195318  10.195318  10.195318  10.195318
36  0.000000  0.000000  0.000000  10.353372  10.353372  10.353372  10.353372  10.353372  10.353372
37  0.000000  0.000000  0.000000  10.403809  10.403809  10.403809  10.403809  10.403809  10.403809
38  0.000000  0.000000  0.000000  11.376957  11.376957  11.376957  11.376957  11.376957  11.376957
39  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
40  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
41  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
42  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
43  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
44  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
45  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
46  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
47  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
48  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

In [22]:
T

    1. Line  2. Line  3. Line  4. Line  5. Line  6. Line  7. Line  8. Line  9. Line
0   order37  order37  order37   order1   order1   order1   order1   order1   order1
1   order38  order38  order38   order2   order2   order2   order2   order2   order2
2   order39  order39  order39   order3   order3   order3   order3   order3   order3
3   order40  order40  order40   order4   order4   order4   order4   order4   order4
4   order41  order41  order41   order5   order5   order5   order5   order5   order5
5   order42  order42  order42   order6   order6   order6   order6   order6   order6
6   order43  order43  order43   order7   order7   order7   order7   order7   order7
7   order44  order44  order44   order8   order8   order8   order8   order8   order8
8   order45  order45  order45   order9   order9   order9   order9   order9   order9
9   order46  order46  order46  order10  order10  order10  order10  order10  order10
10        0        0        0  order11  order11  order11  order11  order11  order11
11        0        0        0  order12  order12  order12  order12  order12  order12
12        0        0        0  order13  order13  order13  order13  order13  order13
13        0        0        0  order14  order14  order14  order14  order14  order14
14        0        0        0  order15  order15  order15  order15  order15  order15
15        0        0        0  order16  order16  order16  order16  order16  order16
16        0        0        0  order17  order17  order17  order17  order17  order17
17        0        0        0  order18  order18  order18  order18  order18  order18
18        0        0        0  order19  order19  order19  order19  order19  order19
19        0        0        0  order20  order20  order20  order20  order20  order20
20        0        0        0  order21  order21  order21  order21  order21  order21
21        0        0        0  order22  order22  order22  order22  order22  order22
22        0        0        0  order23  order23  order23  order23  order23  order23
23        0        0        0  order24  order24  order24  order24  order24  order24
24        0        0        0  order25  order25  order25  order25  order25  order25
25        0        0        0  order26  order26  order26  order26  order26  order26
26        0        0        0  order27  order27  order27  order27  order27  order27
27        0        0        0  order28  order28  order28  order28  order28  order28
28        0        0        0  order29  order29  order29  order29  order29  order29
29        0        0        0  order30  order30  order30  order30  order30  order30
30        0        0        0  order31  order31  order31  order31  order31  order31
31        0        0        0  order32  order32  order32  order32  order32  order32
32        0        0        0  order33  order33  order33  order33  order33  order33
33        0        0        0  order34  order34  order34  order34  order34  order34
34        0        0        0  order35  order35  order35  order35  order35  order35
35        0        0        0  order36  order36  order36  order36  order36  order36
36        0        0        0  order47  order47  order47  order47  order47  order47
37        0        0        0  order48  order48  order48  order48  order48  order48
38        0        0        0  order49  order49  order49  order49  order49  order49
39        0        0        0        0        0        0        0        0        0
40        0        0        0        0        0        0        0        0        0
41        0        0        0        0        0        0        0        0        0
42        0        0        0        0        0        0        0        0        0
43        0        0        0        0        0        0        0        0        0
44        0        0        0        0        0        0        0        0        0
45        0        0        0        0        0        0        0        0        0
46        0        0        0        0        0        0        0        0        0
47        0        0        0        0        0        0        0        0        0
48        0        0        0        0        0        0        0        0        0

In [23]:
O

   Operator No 1. Line 2. Line 3. Line 4. Line 5. Line 6. Line 7. Line 8. Line 9. Line
0    Operator1       1       0       0       0       0       0       0       0       0
1    Operator2       1       0       0       0       0       0       0       0       0
2    Operator3       0       1       0       0       0       0       0       0       0
3    Operator4       0       1       0       0       0       0       0       0       0
4    Operator5       0       0       1       0       0       0       0       0       0
5    Operator6       0       0       1       0       0       0       0       0       0
6    Operator7       0       0       0       1       0       0       0       0       0
7    Operator8       0       0       0       1       0       0       0       0       0
8    Operator9       0       0       0       1       0       0       0       0       0
9   Operator10       0       0       0       1       0       0       0       0       0
10  Operator11       0       0       0       0       1       0       0       0       0
11  Operator12       0       0       0       0       1       0       0       0       0
12  Operator13       0       0       0       0       1       0       0       0       0
13  Operator14       0       0       0       0       1       0       0       0       0
14  Operator15       0       0       0       0       0       1       0       0       0
15  Operator16       0       0       0       0       0       1       0       0       0
16  Operator17       0       0       0       0       0       1       0       0       0
17  Operator18       0       0       0       0       0       1       0       0       0
18  Operator19       0       0       0       0       0       0       1       0       0
19  Operator20       0       0       0       0       0       0       1       0       0
20  Operator21       0       0       0       0       0       0       1       0       0
21  Operator22       0       0       0       0       0       0       1       0       0
22  Operator23       0       0       0       0       0       0       0       1       0
23  Operator24       0       0       0       0       0       0       0       1       0
24  Operator25       0       0       0       0       0       0       0       1       0
25  Operator26       0       0       0       0       0       0       0       1       0
26  Operator27       0       0       0       0       0       0       0       0       1
27  Operator28       0       0       0       0       0       0       0       0       1
28  Operator29       0       0       0       0       0       0       0       0       1
29  Operator30       0       0       0       0       0       0       0       0       1
30  Operator31       0       0       0       0       0       0       0       0       0
31  Operator32       0       0       0       0       0       0       0       0       0
32  Operator33       0       0       0       0       0       0       0       0       0
33  Operator34       0       0       0       0       0       0       0       0       0
34  Operator35       0       0       0       0       0       0       0       0       0
35  Operator36       0       0       0       0       0       0       0       0       0